<footer class="container-fluid bh-absolute-bottom">
    <div class="container">
        <div class="row">
            <div class="col footer">
                <a name="contact">	</a>
                
                 <h2 class="contact">
                    <span class="highlight">CONTACT</span>
                </h2>
                <br>
                <div class="kontact">
                <p class="contactinhoud">
                    <img class="icon" src="{{site.url}}/assets/images/icons/bel.png" alt="tel-icon">
                    +32 492 57 43 16
                </p>
                <p class="contactinhoud">
                    <img class="icon" src="{{site.url}}/assets/images/icons/mail.png" alt="mail-icon">
                    <a href="mailto:marie_gielen@hotmail.com?body=Interesting portfolio!">marie_gielen@hotmail.com</a>
                </p>
                <p class="contactinhoud">
                    <img class="icon" src="{{site.url}}/assets/images/icons/adres.png" alt="adres-icon">
                    2018 Antwerpen 
                </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>

