<footer class="container-fluid bh-absolute-bottom">
    <div class="container">
        <div class="row">
            <div class="col footer">
                <p>
                    Ⓒ 2018 • Autimismus.vzw
                    <br>In samenwerking met Gielen Marie en Arteveldehogeschool
                </p>
                <p>
                    <a class="logo-footer" href="">
                        <img width="15%" src="{{site.url}}/1718-3CMO-BaP-marigiel/assets/images/Logo/LOGO-wit.png" alt="logo Autimismus">
                    </a>
                    &nbsp; &nbsp; &nbsp;
                    <a class="logo-footer" href="">
                        <img width="20%" src="{{site.url}}/1718-3CMO-BaP-marigiel/assets/images/Logo/logo_arteveldehogeschool.png" alt="logo Arteveldehogeschool">
                    </a>
                </p>   
  
            </div>
        </div>
    </div>
</footer>

<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>

