

<nav class=" navbar navbar-expand-md navbar-light bg-light navbar-custom">
        

    
        <!--<a class="navbar-brand" href="#">
                <img class="logo" src="{{site.url}}/assets/images/logo/logo-website.png" alt="logo" href="#home">
            </a> 
-->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavigation" aria-controls="mainNavigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavigation">

        <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                        <a class="nav-link" href="#home" title="Home">
                            Home
                        </a>
                </li>
                <li class="nav-item ">
                        <a class="nav-link" href="#aboutme" title="About me">
                            About me
                        </a>
                </li>
                <li class="nav-item ">
                        <a class="nav-link" href="#work" title="Work">
                            Work
                        </a>
                </li>
                <li class="nav-item ">
                        <a class="nav-link" href="#contact" title="Contact">
                            Contact
                        </a>
                </li>
        </ul>

        </div>
   

</nav>

<!--



-->
