///////////// POSTS
.margintop-work{
  margin-top:12em;
}

.picturepost{
  position: relative;
  width:100%;
}

///hover over picture
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left:15px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.hoverlink:hover .overlay {
  opacity: 0.7;
}

.hover-picture a{
  color: $mycolor-1;
  font-family: 'Abril Fatface', serif;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.hover-picture a:active{
  background-color: transparent;
  color:$mycolor-2;
}
/// END hover over picture ///

.number1, .number2, .number4{
  background-image: url("../images/patronen/patroon-4.png");
  background-repeat: no-repeat;
  background-position: 12rem 5rem;
  background-size: 50%;
  padding-bottom:4em;
  padding-top:4em;
}

.number3{
  background-image: url("../images/patronen/patroon-3.png");
  background-repeat: no-repeat;
  background-position: 25rem 14rem;
  background-size: 60%;
  padding-bottom:4em;
  padding-top:4em;
}

.number2{
  background-position: 5rem 7rem;
  background-size: 50%;
}

.number4{
  background-position: 20rem 7rem;
  background-size: 60%;
}

.border{
  border:green 3px dashed;
  position: relative;
}

.title1 a, .title2 a{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $mycolor-1;
  font-family: 'Abril Fatface', serif;
  color:$mycolor-3;
  padding:0.3em;
  text-transform: uppercase;
  font-size:20pt;
  display: inline-block;
}

.title1 a:hover, .title2 a:hover{
  background-color:rgba(14,62,92,1);
  transition: .4s ease;
}

.title1 {
  color:$mycolor-3;
}


@media screen and (max-width: 767px){
  .title1 a, .title2 a{
    position: relative;
    right:0;
  }
  .number1{
    background-position: 0 8rem;
    background-size: 70%;
    padding-top:1em;
  }

  .number2{
    background-position: 13rem 13rem;
    background-size: 70%;
    padding-top:1em;
  }
  .number3{
    background-position: 0 14rem;
    background-size: 100%;
    padding-top:1em;
  }
  .number4{
    background-position: 0 14rem;
    background-size: 100%;
    padding-top:1em;
  }


}


.title2 a{
  right: 0;
}

///////////// CONTACT
.contactinhoud{
  color:$mycolor-2;
  font-size:20pt;
  line-height:0pt;
}

.contactinhoud a{
  color:$mycolor-2;
}
.contactinhoud a:hover{
  color:$mycolor-1;
}

.contactinhoud a:active{
  color:$mycolor-2;
  background-color: transparent;
}

.icon{
  height:60px;
  padding-right:30px;
}

/////////////TITLES
h2.aboutme{
  color:$mycolor-1;
  text-transform: uppercase;
  font-style:normal;
  font-size:50pt;
  padding-left: 20px;
  background-image: url("../images/patronen/patroon-1.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 5em;
  margin-top:0.4em;
  height:2.8em;
  right:0;
  background-position:0 0.7em;
  background-size: 100%;
}

h2.work{
  color:$mycolor-1;
  text-transform: uppercase;
  font-style:normal;
  font-size:50pt;
  padding-left: 20px;
  background-image: url("../images/patronen/patroon-2.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 5em;
  margin-top:0.4em;
  height:2.8em;
  right:0;
  padding-left:1em;
  background-position:0 0.7em;
  background-size: 100%;
}

/* breder patroon */
@media screen and (min-width: 600px){
  h2.work {
      width:7em;
  }
  h2.contact {
    width:7em;
  } 
  h2.aboutme {
    width:7em;
  } 
  .kontact{
    padding-top:100px;
  }
  .contactinhoud{
    font-size:15pt;
  }
}

h2.contact{
  color:$mycolor-1;
  text-transform: uppercase;
  font-style:normal;
  font-size:50pt;
  background-image: url("../images/patronen/patroon-1.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 5em;
  margin-top:-0.88em;
  height:2.8em;
  right:0.42em;
  padding-left:1em;
  background-position:1.8em 0.7em;
  background-size: 100%;
}


.part-1margin{
  margin-top:8em;
  font-family: 'Abril Fatface', serif;
  color:$mycolor-2;
  font-size: 25pt;
  letter-spacing: 1px;
  line-height: 30pt;
}

.highlight{
  position: relative;
  display: inline-block;
  height:0.7em;
  line-height: 1.2em;
  color:$mycolor-1;
  display: inline-block;
  border-bottom: 40px solid $mycolor-2;
  padding-bottom: 0;
  line-height: 55%;
}

.header{
  background-color:$mycolor-1;
  width:100vw;
  height:100vh;
  position: relative;
  padding-top:20vh;
}

.header-logo{
  margin-left:auto;
  margin-right: auto;
  display: block;
  height:50vh;
}

.header a{
  color:$mycolor-2;
  font-size:3em;
  line-height: 1.3em;
}

.headerlink{
  text-align: center;
}

.headerlink a:active{
  background-color:transparent;
  color: $mycolor-3;
}

#part1{
  background-color:$mycolor-3;
  width:100vw;
  min-height: 90vh;
  height:auto;
  position: relative;
  z-index:-1;
}

#part1 a.aboutme{
  position: absolute;
  left: 0px;
  top: -110px;
}


#part2{
  background-color:none;
  width:100vw;
  min-height: 100vh;
  height:auto;
  padding-bottom:25em;
  position: relative;
  z-index:1;
}

#part2 a.work{
  position: absolute;
  left: 0px;
  top: -110px;
}

h2{
  margin-top:0;
  font-family: 'Abril Fatface', serif;
}
.foto{
  width:400px;
}

.kleuren{
  color:white;
  font-size:20px;
  font-weight:800;
  p{
    font-size:16px;
    font-weight: $font-weight-light;
  }
}

.donkerblauw{
  background-color:$mycolor-1;
}







/* NAVIGATIE
---------------------------------------------
*/


.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(253,237,216,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color:transparent;
} 



#stickyheader {
  width: 100%;
  position: -webkit-sticky; /* Required for Safari */
  position: sticky;
  top:0;
  z-index: 999;
  
}
#stickyalias {
  display: none;
}

.logo{
  position: absolute;
  height:120px;
  margin-left:5%;
  margin-top:-4.2rem;
}

.navbar.navbar-expand-md.navbar-dark.bg-light.navbar-custom{
  padding-top:3rem;
  padding-bottom:0;
  padding-left: 0;
  padding-right: 0;
}

#mainNavigation.collapse.navbar-collapse{
  text-transform:uppercase;
  font-size:1.4em;
  padding-left: 25%;
}

#mainNavigation.collapse.navbar-collapse.show{
  text-transform:inherit;
  font-size:inherit;
  padding:0!important;
}

#mainNavigation.collapse.navbar-collapse a{
  color:$mycolor-3;
  margin-left:0px;
}

#mainNavigation.collapse.navbar-collapse a:hover{
  color: $mycolor-1;
  background-color: $mycolor-3;
}

#mainNavigation.collapse.navbar-collapse a:active{
  color:$mycolor-3;
  background-color: $mycolor-2;
  border-radius: 0;
}

li.nav-item > a.nav-link{
  padding:0.9em 1.7rem;
  text-transform: uppercase;
}

.navbar a { 
  border: none; 
}

.navbar-nav a{
  background-color: $mycolor-1;
  white-space: nowrap;
  padding:0;
}

.bg-light{
  color: $mycolor-1;
  background-color: $mycolor-1!important;
  z-index:99;
}

 



//DROPDOWN NAVIGATIE
.dropdown-menu{
  border:none;
  background-color:transparent!important;
}



/* FOOTER
----------------------------------------------
sticked to the bottom with small content pages
*/
html {
    height: 100%;
    overflow-x: hidden;
  }

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: 'Barlow Semi Condensed', sans-serif;
  
  }

.bh-absolute-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

footer {
    height:400px;
    background-color: $mycolor-3;
    color: $color-white;
    padding-top:2%;
    margin-bottom:-20px;
    padding-right:0;
    a {
        color: $color-white;
        &:hover {
            
        }
    }
}


/* BACK TO TOP
-------------------------
*/
#to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:$mycolor-1; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  //padding: 15px; /* Some padding */
  width: 40px;
  height: 40px;
  border-radius: 20px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  &:hover {
    background-color:$mycolor-3; 
  }
}
.logo-footer{
  height:100px;
  border-bottom:0;
  &:hover{
    border-bottom:0;
  }
  &:active{
    background-color:transparent;
    color:transparent;
}
}

// Carrousel

h5{
  text-align: left; 
  background-color:$mycolor-2;
  display: inline-block;
  padding:0.3em;
}

.caption{
  background: rgba(256, 256, 256, 0.7);
  padding:0.3em;
  color:$mycolor-1;
}

.carousel-caption{
  text-align: left;
}


.carousel-indicators li, .carousel-indicators .active{
  background-color: $mycolor-2;
}




