

.header{
  background-color:$mycolor-1;
  width:100vw;
  height:100vh;
  position: relative;
  padding-top:20vh;
}

.header-logo{
  margin-left:auto;
  margin-right: auto;
  display: block;
  height:50vh;
  
}

.header a{
  color:$mycolor-2;
  font-size:3em;
  line-height: 1.3em;
}

.headerlink{
  text-align: center;
}


#part1{
  background-color:$mycolor-3;
  width:100vw;
  height:100vh;
  position: relative;
  z-index:-1;
}

#part1 a{
  position: absolute;
  left: 0px;
  top: -100px;
}


#part2{
  background-color:none;
  width:100vw;
  height:100vh;
  position: relative;
  z-index:-1;
}

#part2 a{
  position: absolute;
  left: 0px;
  top: -100px;
}

h2{
  margin-top:0;
  font-family: 'Abril Fatface', serif;
}
.foto{
  width:400px;
}

.kleuren{
  color:white;
  font-size:20px;
  font-weight:800;
  p{
    font-size:16px;
    font-weight: $font-weight-light;
  }
}

.donkerblauw{
  background-color:$mycolor-1;
}



#stickyheader {
  width: 100%;
  position: -webkit-sticky; /* Required for Safari */
  position: sticky;
  top:0;
  
}
#stickyalias {
  display: none;
}




.navbar.navbar-expand-md.navbar-light.bg-light.navbar-custom{
  padding:0;
}

/* NAVIGATIE
---------------------------------------------
*/


#mainNavigation.collapse.navbar-collapse{
  text-transform:uppercase;
  font-size:1.4em;
  padding-left: 25%;
  padding-top:4%;
}

#mainNavigation.collapse.navbar-collapse.show{
  text-transform:inherit;
  font-size:inherit;
  padding:0!important;
}

#mainNavigation.collapse.navbar-collapse a{
  color:$mycolor-3;
  margin-left:0px;
}

#mainNavigation.collapse.navbar-collapse a:hover{
  color: $mycolor-1;
  background-color: $mycolor-3;
}

#mainNavigation.collapse.navbar-collapse a:active{
  color:$mycolor-3;
  background-color: $mycolor-2;
  border-radius: 0;
}

li.nav-item > a.nav-link{
  padding:0.9em 1.7rem;
  text-transform: uppercase;
}



.navbar a { 
    border: none;
  
}




.navbar-nav a{
  background-color: $mycolor-1;
  white-space: nowrap;
  padding:0;
}


.bg-light{
  color: $mycolor-1;
  background-color: $mycolor-1!important;
  z-index:99;
}

 



//DROPDOWN NAVIGATIE
.dropdown-menu{
  border:none;
  background-color:transparent!important;
}



/* FOOTER
----------------------------------------------
sticked to the bottom with small content pages
*/
html {
    height: 100%;

  }

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: 'Barlow Semi Condensed', sans-serif;

  }

.bh-absolute-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

footer {
    background-color: $mycolor-2;
    color: $color-white;
    padding-top:2%;
    margin-bottom:-20px;
    a {
        color: $color-white;
        &:hover {
            
        }
    }
}

.footer{
  padding-left:18%;
}

/* BACK TO TOP
-------------------------
*/
#to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:$mycolor-1; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  //padding: 15px; /* Some padding */
  width: 40px;
  height: 40px;
  border-radius: 20px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  &:hover {
    background-color:$mycolor-3; 
  }
}
.logo-footer{
  height:100px;
  border-bottom:0;
  &:hover{
    border-bottom:0;
  }
  &:active{
    background-color:transparent;
    color:transparent;
}
}



