

// Color system
// ------------------------

// Greys
$color-white: rgba(254,254,254,1);
$color-grey-1:rgba(240,240,240,1);
$color-grey-2:rgba(180,180,180,1);
$color-grey-3:rgba(90,90,90,1);
$color-grey-4:rgba(30,30,30,1);
$color-grey-5:rgba(10,10,10,1);
$color-black:rgba(0,0,0,1);

// Website
$mycolor-1:rgba(12,42,61,1);
$mycolor-2:rgba(238,156,117,1);
$mycolor-3:rgba(253,237,216,1);
$mycolor-4:rgba(250,120,120,1);;
$mycolor-5:rgba(250,120,120,1);;

$body-bg: $color-white;
$body-color: $color-grey-4;
$body-link: $mycolor-2;


// Client specific
$clientcolor-1:rgba(120,250,250,1);
$clientcolor-2:rgba(120,250,250,1);
$clientcolor-3:rgba(120,250,250,1);
$clientcolor-4:rgba(120,250,250,1);
$clientcolor-5:rgba(250,120,120,1);


// TYP0GRAPHY
// -----------------------------

// Imports
// Website
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Client specific
@import url('https://fonts.googleapis.com/css?family=Nunito');

// type
$myfont-family-base: 'nunito', sans-serif;
$myfont-family-title: 'Nunito';

// sizes
$font-size-base: 16px;
$lineheight-base: 1.6em;
$font-weight-base: 300;
$font-weight-light: 200;
$font-weight-bold: 600;


// Type Client specific
//------------------------------

// type
$clientfont-family-base: 'nunito', sans-serif;
$clientfont-family-title: 'nunito';

// sizes
$client-font-size-base: 16px;
$client-lineheight-base: 1.6em;
$client-font-weight-base: 400;
$client-font-weight-light: 200;
$client-font-weight-bold: 800;